BLOG_PORT=4173
BLOG_HOST=127.0.0.1
BLOG_ADMIN_USER=admin
BLOG_ADMIN_PASSWORD=change-this-password
BLOG_SESSION_SECRET=change-this-long-random-secret
BLOG_SITE_ORIGIN=http://localhost:4173
BLOG_MAX_JSON_BYTES=12582912
BLOG_MAX_UPLOAD_BYTES=8388608
